.content
{
	.video
	{
		min-height: 200px;
		background-position: center center;
		background-size: cover;
		position: relative;

		.btn-holder
		{
			width: 130px;
		    height: 130px;
		    position: absolute;
		    left: 50%;
		    top: 50%; 
		    margin-left: -65px;
		    margin-top: -65px;
			
			a
			{

			}
		}
	}
}