// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
//@import "mixins.less";

// CSS Reset
@import "reset.less";

// Grid system and page structure
@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";

// Base CSS
@import "type.less";

// Components: Nav
@import "navbar.less";


// Responsive.less
// For phone and tablet devices
// -------------------------------------------------------------


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// RESPONSIVE CLASSES
// ------------------
// @import "responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Large desktops
// @import "responsive-1200px-min.less";

// Tablets to regular desktops
// @import "responsive-768px-979px.less";

// Phones to portrait tablets and narrow desktops
// @import "responsive-767px-max.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
// @import "responsive-navbar.less";

// KLUDGES - later samenvoegen
// ------------------

.front {

	.details {
		background-color: #ccc;
	}

	body {
		background: transparent;
	}

	.front {
		// background: transparent;
	}

	.container {
		background: transparent;
	}

	.nav {
		li {
			padding-left: 12px;
		}
		li.home {
			padding-left: 0px;
		}
		li:nth-child(2){
			.heart;
			&:hover, &#active {
				.heart_active;
			}
		}
		li:nth-child(3){
			.award;
			&:hover, &#active {
				.award_active;
			}
		}
		li:nth-child(4){
			.hands;
			&:hover, &#active {
				.hands_active;
			}
		}
		li:nth-child(5){
			.comment;
			&:hover, &#active {
				.comment_active;
			}
		}
	}

	.main {
		padding-top: 120px;
	}

	.header {
		h1{
			color: @white;
			text-transform: none;
			font-weight: normal;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
			width: 600px;
		}
		h2{
			color: @white;
			text-transform: none;
			font-weight: normal;
			margin-top:1.5em;
			line-height: 110%;
			letter-spacing: .1em;
			font-family: 'proxima_novalight';
			text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
			width: 650px;
		}
	}

	.template-item {
		.comment-icon {

		}
	}

	.text-side {
		width: 30%;
		position: fixed;
		bottom: 0px;
		right: 68%;
		text-align: right;
		h1{ color: @white; }
	}

	.text-columns-view {
		background: rgba(255,255,255,.8);
		position: absolute;
		top: 0px;
		right: 0px;
		min-height: 100%;
		width: 66%;
		padding: 130px 0 0 0;

		.template-item {
			margin: 0;
			padding: 0;
			border: 1px dashed @grayLight;
			border-top: 1px solid transparent;

			.text {
				padding: 8px;
			}

			&:nth-child(-n+4) { // = awesome :)
				border: 1px dashed @grayLight;
			}
			&:nth-child(odd) {
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
			}
			&:nth-child(even){
				margin: 0 -1px;
			}
			&:last-child {
				border-right: 1px dashed @grayLight;
			}
		}
	}

	.header-label {
		display: inline-block;
		h1{
			color: @grayDark;
			margin-left: 10%;
			width: 900px;
		}
	}

	.listview {
		background: rgba(255,255,255,.8);
		position: absolute;
		top: 0px;
		right: 0px;
		min-height: 100%;
		width: 66%;
		padding: 130px 0 0 0;

		&.container{ margin: 0;}

		.template-item {
			background: transparent url(/assets/images/CR_iconholder.svg) no-repeat 16px 20%;
			box-sizing: border-box;

			p{
				padding-left: 80px;
				padding-right: 48px;
			}
		}

		p {
			display: inline-block;
			padding: 8px 0 0 0;
		}

		hr {
			border-bottom: 1px dashed @grayLight;
		}
	}

	.paginate
	{
		overflow: hidden;
		//height: 85%;
		top: 0px;
		white-space: nowrap;
		margin-top: 64px;

		.pages
		{
			position: relative;
			.page
			{
				display: inline-block;
				vertical-align:top;
				width: 100%;
				max-width: 100%;
				padding:40px 0;

				& > * { white-space: pre-wrap; }
			}
		}
	}

	.pagination-bar
	{
		margin: 0;
		li{ float: left; list-style: none; margin: 0; padding: 0; }
	}

	ul { margin: 0; }

	.formholder {
		.contact-details {
			div{
				text-align: left;
			}
		}
		.template-itemholder {
			border-right: 1px dashed @grayLight;
			width: 105%;
			min-height: 580px;
		}
		.control-label { display: none; }
	}
}